<h1>Create a new landmark:</h1>
  <form action="/figures" method="post">
    <b>Landmark Name:</b> <input type="text" name="landmark[name]" id="landmark_name"><br>
    <br>
    <b>Year Completed:</b> <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
    <br>
    <input type="submit" name="Create New Landmark" value="Create New Landmark">

  </form>
